.worldwide__title-section {
    font-weight: 600;
    font-size: 24px;
    line-height: 28px;
    color: #000000;
    margin-bottom: 20px;
}
.news__list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    @include list-style;
}
.news__item {
    width: calc((100% - 20px) / 3);
    background: #F6F6F6;
    border-radius: 15px;
    padding: 20px 18px 17px 15px;
    margin-bottom: 10px;
}
.news__title {
    font-weight: 600;
    font-size: 20px;
    line-height: 26px;
    margin-bottom: 10px;
    color: #000000;
}
.news__description {
    margin-bottom: 15px;
    font-size: 16px;
    line-height: 22px;
    color: #4A4B4C;
}
.news__item-img {
    border-radius: 10px;
    margin-bottom: 15px;
}
.news__inner {
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    color: #5E5F61;
    display: flex;
    align-items: center;
}
.news__into {
    margin-right: 10px;
}
@media only screen and (max-width: $tablet) {
    .news__item {
        width: calc((100% - 10px) / 2);
     
    }
 }
 @media only screen and (max-width: $mobile) {
    .news__item {
        width: 100%;
        text-align: center;
    }
    .news__list {
       justify-content: center;
    }
    .news__item-img {
        margin: 0 auto;
        margin-bottom: 15px;
    }
    .news__inner {
        width: 200px;
        display: block;
        margin: 0 auto;
        text-align: center;
    }
    .news__into {
        display: none;
    } 
 }