.notifications {
    margin-top: 60px;
    margin-bottom: 60px;
}
.notifications__description {
    background-image: url('../img/notifications.jpg');
    width: 1050px;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0 auto;
    padding: 24px 71px 24px 24px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 10px;
}
.notifications__title {
    width: 404px;
    font-weight: 600;
    font-size: 20px;
    line-height: 26px;
    color: #000000;
}
.notifications__text {
    background-color: #F78B3B;
    border-radius: 10px;
    border: none;
    padding: 13px 30px;
    color: #FFFFFF;
}